*{
    margin: 0;
}

body {
    background-color: #FFFFFF;
}

.menu {
    background-color: #9ccb8d;
    height: 50px;
    padding-top: 15px;
}

.menu ul li {
    display: inline;   
}

li {
    margin-left: 15px;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

a:hover {
    color: black;
}

ul {
    list-style: none;
}

.painelHome {
    margin-top: -10px;
    padding-top: 10px;
    text-align: center;
    background-image: url('/src/Projeto_Web_Grafico/fundo.jpg');
    margin-left: -1px;  
    height: 550px; 
}

.titulo {
    color: white;
    font-size: 80px;
}

.bgColorPorco {
    margin-top: 105px;
    width: 800px;
}

.btnIniciar {
    margin-left: 70px;
}