*{
    margin: 0;
}

body {
    background-color: #FFFFFF;
}

.btnMen {
    float: left;
    margin: 10px;
}

.painelHome {
    margin-top: -10px;
    padding-top: 10px;
    text-align: center;
    background-image: url('/src/Projeto_Web_Grafico/fundo.jpg');
    margin-left: -1px;  
    height: 550px; 
    overflow: hidden;
}

.titulo {
    color: white;
    font-size: 80px;
}

.bgColorPorco {
    margin-top: 105px;
    width: 800px;
}

.btnIniciar {
    margin-left: 70px;
}

#menu{
    display: none;
}

ul {
    list-style: none;
    font-size: 22px;
    margin-right: 0;   
}

.menuEffect {
    position: fixed;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: #9ccb8d;
}

#btnClose {
    padding: 8px;
    color: black;
    font-size: 25px;
    font-weight: bold;    
    margin: 2px;
    cursor: pointer;
}

#btnClose:hover {
    color: white;
}

.menu ul li{
    transition: background 0.3s;
    display: block;
    color: black;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 15px;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

a:hover {
    color: white;
}



/*Página Slide*/

.btnMen2 {    
    margin: 10px;
    z-index: auto;
    
}


.slider {
    flex: 1;
    overflow: hidden;
}

.sliderWidth {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.sliderItens {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}

video{
    width: 975px;
}

.sliderBtn {
    /* margin-top: 230px; */
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.btnControl {
    width: 50px;
    height: 50px;
    background-color: #9ccb8d;
    border-radius: 55%;
    overflow: hidden;
    cursor: pointer;
    padding-top: 10px;
    color: white;
}

/*Página Sobre*/

.container{
    background-color: blue;   
    word-break: normal;
    margin-top: 50px;
    margin:auto;
    width: 50%;
}
