*{
    margin: 0;
}

body {
    background-color: #FFFFFF;
}

.btnMen {
    float: left;
    margin: 10px;
}

.painelHome {
    margin-top: -10px;
    padding-top: 10px;
    text-align: center;
    background-image: url('/src/Projeto_Web_Grafico/fundo.jpg');
    margin-left: -1px;  
    height: 550px; 
}

.titulo {
    color: white;
    font-size: 80px;
}

.bgColorPorco {
    margin-top: 105px;
    width: 800px;
}

.btnIniciar {
    margin-left: 70px;
}

.menuEffect {
    position: fixed;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #9ccb8d;
}

#btnClose {
    padding: 8px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    margin: 2px;
}

.menuEffect ul {
    list-style: none;
}

.menu ul li {
    display: block;
}

.menu ul li a{
    transition: background 0.3s;
    display: block;
    color: black;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
}

