*{
    margin: 0;
}

body {
    background-color: #FFFFFF;
}

.menu {
    background-color: #9ccb8d;
    height: 50px;
    padding-top: 15px;
}

.menu ul li {
    display: inline;   
}

li {
    margin-left: 15px;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

a:hover {
    color: black;
}

ul {
    list-style: none;
}

.painelVideo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('/src/Projeto_Web_Grafico/fundo.jpg');
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: -1px;  
}

.video {
    margin-top: -100px;
    border-color: #FFFFFF;
}

.btnVideo {
    float: right;
}